body {
    background: rgb(75, 93, 107);
};

@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
 
.spinner {
    min-width: 34px;
    min-height: 34px;
    position: relative;
}
 
.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -7px;
    margin-left: 9px;
}
 
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 3px solid #fd6064;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}